/* 
    Created on : Jun 21, 2015, 4:18:40 PM
    Author     : Renann
*/

* {
    margin: 0;
    padding: 0;
}

#encloserDiv {
    width: 80%;
    margin: 10px auto 0 auto;
}

nav {
    height: 50px;
}

nav > div {
    display: inline-block;
    float: right;
    margin-top: 20px;
}

h1 {
    display: inline-block;
    margin: 0 0 0 45px; 
    padding: 0;
    height: 100%;
    vertical-align: top;
    line-height: 50px;
}

#sapLogo {
    height: 50px;
}

nav > div > select {
    width: 120px;
    vertical-align: super;
}

.reportCircle {
    display: inline-block; 
    margin-left: 15%; 
    margin-top: 25px;
}

.reportCircle > svg > circle:hover {
    fill: red;
}

#barChart {
    display: inline-block;
    background-color: navy;
    width: 50%;
    height: 300px;
}

#barChart > svg {
    width: 100%;
    height: 100%;
}

#informationTable {
    display: inline-block;
    background-color: yellowgreen;   
    width: 50%; 
    float: right; 
}